:root {
  --orange: #e95a08;
  --paragraph-color: rgba(0, 0, 0, 0.5);
  --nav-color: #8987a1;
  --home: #252432;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared styles */
.container {
  max-width: 1280px;
  margin: auto;
}
.orange {
  color: var(--orange);
}
/* header part */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.logo {
  width: 135px;
  height: 82px;
}
.nav ul li {
  list-style: none;
}
.nav ul {
  /* background-color: green; */
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.nav ul :nth-child(2),
.nav ul :nth-child(3) {
  color: var(--nav-color);
}
.nav ul :nth-child(1) {
  color: var(--home);
  font-weight: bold;
}
/* banner */
.banner {
  padding: 120px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 13px;
}
.banner-content {
  max-width: 65%;
  color: var(--paragraph-color);
}
.banner-img-container img {
  display: block;
}
